@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;

}

body{
  font-family: Roboto;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
 }

header{
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg"); 
  height: 650px;
  position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  position: relative;
  

 }
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}
.col{
  float: left;
}
.col-3{
 width: 30%;
 
}
.col-middle{
 width: 30%;
 margin-left: 5%;
 margin-right: 5%;
}
.box{
  margin-left: 5%;
  margin-right: 5%;
}
.clearfix{
  clear: both;
}
#team .section-text{
  font-size: 1.9em;
  text-align: center;
  width: 60%;
  margin: 10px auto;

}
#team .hr{
  margin:20px auto 30px auto;
  width: 40%; 
}
#general-information .text{
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.service-box{
  font-size: 1.7em;
  text-align: center;
  border-width: 2px;
  border-block-end-style: solid;
  border-color: #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin-top: 50px;
  margin-right: 5%;
  margin-bottom: 0;
  left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
}
.service-box img{
  width: 125px;
}
#team .member-name{
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  display: block;
}
.link-btn{
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  margin: 40px auto 0 auto;
  padding: 14px 20px 14px 20px;
  border: 2px black solid 0.2;
}
.aside{
  font-size: 2.5em;
  position: absolute;
  left: 10%;
  bottom: 15vh;
}

.dark-background{
  background-color: rgb(	25, 33, 41);
  color: white; 
}

address{
  font-style: normal;
  font-size: 0.8em;
  margin-bottom: 30px;
}
footer{
  font-size: 1.9em;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

}
footer li{
  list-style-type: none;
}
footer a{
  color: rgb(67, 163, 230);
  text-decoration: none;

}
.map-frame{
 height: 375px;
 float: right;
 width: 60%;
 margin-right: 60px;
}
h1,h2,h3,h4,h5{
   font-family: Roboto Condensed;
 }

h1{
   font-size: 9em;
   text-align: center;
   text-transform: uppercase;
 }

h2{
   font-size: 5em;
   text-align: center;
   text-transform: uppercase;
   line-height: 4em;
   color: white;
   text-shadow: #020819 8px -20px 9px;
 }

h3{
   font-size: 4.2em;
   text-align: center;
 }

h4{
   font-size: 1.5em;
   letter-spacing: 0.4px;
   margin-bottom: 15px;
 }

h5{
   font-size: 1.2em;
 }
.nav-bar{
   background-color: rgb(	25, 33, 41);
   color: white;
   padding-top: 14px;
   padding-bottom: 14px;
   height: 40px;
 }

.nav-bar-item{
  color: white;
  text-decoration: none;
  font-size: 2em;
 }

.nav-bar-ul{
  width: 1200px;
  margin: 0 auto;


}
.nav-bar-li{
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33%;
}
